# Tutorial: Introduction to R, functions, and good coding habits
### Week 2: @ Jan

### Arithmetic

In [1]:
6+2
10-3*4
5^3

[1] 8

[1] -2

[1] 125

### Vectors

In [1]:
a <-c(1,2,3) #c notation needed to define vectors in R
b <-c(4,5,6)

In [2]:
print(paste("mean of vector a:", mean(a)))

[1] "mean of vector a: 2"

In [5]:
print(paste("mean of vector b:", mean(b)))

[1] "mean of vector b: 5"

In [6]:
print(paste("sum of vector b:", sum(b)))

[1] "sum of vector b: 15"

In [7]:
a*b

[1]  4 10 18

### Dataframes

In [11]:
c <- c('one', 'two', 'three')
data <- data.frame(A_var = a, B_var = b, C_var = c)

In [12]:
data

  A_var B_var C_var
1 1     4     one
2 2     5     two
3 3     6     three

### Indexing

In [15]:
a[2] # index by position

[1] 2

In [20]:
data [1,1] #row, column
data [3,2] #3rd row and 2nd column
data [3,3] #3rd row and 3rd column

[1] 1

[1] 6

[1] "three"

In [22]:
data$B_var # data in B_var column

[1] 4 5 6

In [27]:
print("Column 3")
data[,3] #data in 3rd column

print("Row 2")
data[2,]

data[,"A_var"]

[1] "Column 3"

[1] "one"   "two"   "three"

[1] "Row 2"

  A_var B_var C_var
2 2     5     two

[1] 1 2 3

### Writing a function - R

In [34]:
fahrenheit_to_celsius <- function(temp_F){
    tempC <-temp_F -32 *5/9
    return(tempC)
}

In [35]:
fahrenheit_to_celsius(32)

[1] 14.22222

In [36]:
fahrenheit_to_celsius(102)

[1] 84.22222

In [37]:
input1 <- 20 
my_sum <- function(input1, input2= 10){
    output <- input1 + input2
    return(output)
}

In [39]:
my_sum(2)

[1] 12

In [43]:
my_sum(3,4)

my_sum(input1 = 3)

[1] 7

[1] 13

####  avoid camel case, alt+- for <-